{% load staticfiles %}
<html>
    <head>
        <title>My Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
    </head>
    <body>
        <header>
            {% block header %}
                {% if request.user.is_authenticated %}
                    {{ request.user.email }}
                    <a href='/accounts/logout'>
                        <img src="{% static '/img/logout.png' %}" alt="sign-out">
                    </a>
                {% else %}
                    <a href='/accounts/sing_up/'>sign-up</a>
                    <a href='/accounts/login'>sign-in</a>
                {% endif %}
            {% endblock %}
        </header>
        <div class='content'>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>