{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>My site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>

<body>
    <div class="container">
        <section id="content">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout'%}">Sing Out</a></li>
                <form action="{% url 'index'%}?next=/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Create post</h1>
                    <div class="input-group">
                        {{ form.title }}
                    </div>
                    <div class="input-group">
                        {{ form.description }}
                    </div>
                    <div class="input-group">
                        {{ form.image }}
                    </div>
                    {% if form.errors %}
                        <div style="color: red;">{{ form.errors }}</div>
                    {% endif %}
                    <button type="submit">Submit</button>
                </form><!-- form -->


                <div class="posts">
                    
                    {% for i in context %}
                        <div id="posts">
                            <div id="title">

                                <a href="post/{{ i.id }}"><h2>{{ i.title }}</h2></a>
                            </div>
                            <div id="description">
                                {{ i.description }}
                            </div>
                            <div id="image">
                                <img src="/media/{{ i.image }}">
                            </div>
                            <p>Likes: {{i.likes.count}}</p>
                        </div>
                    {% endfor %}
                    
                </div>
            {% else %}
                <li><a href"={% url 'login'%}">Sing In</a></li>
            {% endif %}
        </section>
        <!-- content -->
    </div>
    <!-- container -->
</body>

</html>