{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Singup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>

<body>
    <div class="container">
        <section id="content">
            <form action="{% url 'posts:sing_up'%}?next=/" method="post">
                {% csrf_token %}
                <h1>Singup Form</h1>
                <div class="input-group">
                </div>
                <div class="input-group">
                    {{ form.email }}
                </div>
                <div class="input-group">
                    {{ form.password }}
                </div>
                <div class="input-group">
                    {{ form.username }}
                </div>
                <div class="input-group">
                    {{ form.first_name }}
                </div>
                <div class="input-group">
                    {{ form.last_name }}
                </div>
                <div class="input-group" name="birthday">
                    <label for="id_birthday" name="birthday">Your Birthday</label>
                </div>
                <div class="input-group" id="id_birthday">
                    {{ form.birthday }}
                </div>
                <div class="input-group">
                    <label for="id_country" name="country">Your Country</label>
                    {{ form.country }}
                </div>
                <div class="input-group">
                    {{ form.city }}
                </div>
                {% if form.errors %}
                <div style="color: red;">{{ form.errors }}</div>
                {% endif %}
                <div>
                    <input type="submit" value="Sing up" />
                    <a href="{% url 'posts:login'%}">Sing in</a>
                </div>
            </form>
            <!-- form -->

            <div class="button">
            </div>
            <!-- button -->
        </section>
        <!-- content -->
    </div>
    <!-- container -->
</body>

</html>